html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

#map-canvas {
  width:75%;
  height:99%;
  float:left;
}
#data {
  float: right;
  border: black solid 1px;
  width: 24%;
  height: 99%;
}