html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

#map-canvas {
  width:60%;
  height:99%;
  float:left;
}
#data {
  float: right;
  width: 39%;
  overflow: hidden;
}
#data ul li {
  list-style-type: none;
  height:30px;
  margin-top:5px;
} 
#data ul li:hover {
  background-color:blue;
  color:white;
}

.yes {
  background-color:green;
}
.no {
  background-color:red;
}
.address {
  padding-left:10px;
  margin:0px;
  text-align:left;
}
#analytics {
  float:right;
  width:39%;
}
table {
  border: 1px black solid;

}